[submodule "submodules/dwl"]
	path = submodules/dwl
	url = https://github.com/Pakin-Panawattanakul/dwl
[submodule "submodules/someblocks"]
	path = submodules/someblocks
	url = https://github.com/Pakin-Panawattanakul/someblocks
[submodule "submodules/bgutil-ytdlp-pot-provider"]
	path = submodules/bgutil-ytdlp-pot-provider
	url = https://github.com/Brainicism/bgutil-ytdlp-pot-provider
[submodule "submodules/wmenu-scripts"]
	path = submodules/wmenu-scripts
	url = https://github.com/Pakin-Panawattanakul/wmenu-scripts
[submodule "config/.config/eza/eza-themes"]
	path = config/.config/eza/eza-themes
	url = https://github.com/eza-community/eza-themes
