@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background rgba(0,0,0,0.8);

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#wireplumber,
#idle_inhibitor,
#language,
#network,
#backlight,
#power-profiles-daemon,
#bluetooth,
#tray,
#clock{
    padding-right: 1em 
}
