@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background rgba(0,0,0,0.8);

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

#workspaces{
  padding-left : 1em;
}
#workspaces button {
  color: #ffffff;
  box-shadow: inset 0 -5px transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 -5px #ffffff;
}

#workspaces button.focused {
  background-color: #64727d;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}


#wireplumber,
#idle_inhibitor,
#language,
#network,
#backlight,
#power-profiles-daemon,
#bluetooth,
#tray,
#clock{
    padding-right: 1em 
}
