@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background rgba(0,0,0,0.8);

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    font-family: "Cantarell";
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 0;
    padding-left: 5px;
    padding-right: 2px;
}

#workspaces .workspace-label {
    padding-left: 3px;
    border-top: 1px solid transparent;
}

#workspaces .taskbar-window {
    border-top: 1px solid transparent;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button.visible .taskbar-window,
#workspaces button.visible .workspace-label {
    border-color: white;
}

#workspaces .taskbar-window.active {
    background-color: rgba(255, 255, 255, 0.15);
}

#workspaces .taskbar-window image {
    margin-top: 1px;
}

#workspaces button.urgent {
    background-color: @urgent-color;
}


#wireplumber,
#idle_inhibitor,
#language,
#network,
#backlight,
#power-profiles-daemon,
#bluetooth,
#tray,
#clock{
    padding-right: 1em 
}
